{% extends 'base.html.twig' %}

{% block title %}Fiche artiste{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Fiche de l'artiste</h1>
<hr>
<div class="row pt-2">
    {% set nbAlbums = leArtiste.albums|length %}
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-3">
        <div class="card mb-3">
            <h3 class="card-header">{{leArtiste.nom}}</h3>
            <div class="row">
                <div class="col-3 d-flex align-items-center mx-auto">
                    <img class="avatar mx-auto d-block" src="{{leArtiste.image}}"></img>
                </div>
                <div class="col">
                    <div class="card-body">
                    <h5 class="card-title">
                        <a href="" class="badge badge-success" ></a>{{nbAlbums}}{% if nbAlbums > 1 %} albums {% else %} album {% endif %} 
                        </h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{leArtiste.description|raw}}...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{% if leArtiste.type == 0 %} Artiste solo {% else %} Groupe{% endif %}</li>
                        <li class="list-group-item"><a href="{{leArtiste.site}}">son site web</a></li> 
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table table-hover mx-auto">
  <thead>
    <tr>
      <th scope="col-3"><font style="vertical-align: inherit;">Photo</font></th>
      <th scope="col-4"><font style="vertical-align: inherit;">No</font></font></th>
      <th scope="col-1"><font style="vertical-align: inherit;">Date</font></th>
      <th scope="col-3"><font style="vertical-align: inherit;">Styles</font></th>
      <th scope="col-1"><font style="vertical-align: inherit;">Morceaux</font></th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <th scope="row"><font style="vertical-align: inherit;">Actif</font></font></th>
      <td><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
      <td><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
      <td><font style="vertical-align: inherit;"></font></td>
    </tr>
    <tr>
      <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Défaut</font></font></th>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
    </tr>
    <tr class="table-primary">
      <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Primaire</font></font></th>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
    </tr>
    <tr class="table-secondary">
      <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Secondaire</font></font></th>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
    </tr>
    <tr class="table-success">
      <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Succès</font></font></th>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
    </tr>
    <tr class="table-danger">
      <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Danger</font></font></th>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
    </tr>
    <tr class="table-warning">
      <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Avertissement</font></font></th>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
    </tr>
    <tr class="table-info">
      <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Informations</font></font></th>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
    </tr>
    <tr class="table-light">
      <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lumière</font></font></th>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
    </tr>
    <tr class="table-dark">
      <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sombre</font></font></th>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Contenu de la colonne</font></font></td>
    </tr>
  </tbody>
</table>
{% endblock %}
  
