{% extends 'base.html.twig' %}

{% block title %}Fiche artiste{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Fiche de l'artiste</h1>
<hr>
<div class="row pt-2">
    {% set nbAlbums = leArtiste.albums|length %}
            <h3 class="card-header">{{leArtiste.nom}}</h3>
            <div class="row">
                <div class="col-3 d-flex align-items-center mx-auto">
                    <img class="avatar mx-auto d-block" src="{{leArtiste.image}}"></img>
                </div>
                <div class="col">
                    <div class="card-body">
                    <h5 class="card-title">
                        <a href="" class="badge badge-success" ></a>{{nbAlbums}}{% if nbAlbums > 1 %} albums {% else %} album {% endif %} 
                        </h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{leArtiste.description|raw}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{% if leArtiste.type == 0 %} Artiste solo {% else %} Groupe{% endif %}</li>
                        <li class="list-group-item"><a href="{{leArtiste.site}}">son site web</a></li> 
                    </ul>
                </div>
            </div>
</div>
<table class="table table-hover mx-auto">
  <thead>
    <tr>
      <th scope="col-3"><font style="vertical-align: inherit;">Photo</font></th>
      <th scope="col-4"><font style="vertical-align: inherit;">No</font></font></th>
      <th scope="col-1"><font style="vertical-align: inherit;">Date</font></th>
      <th scope="col-3"><font style="vertical-align: inherit;">Styles</font></th>
      <th scope="col-1"><font style="vertical-align: inherit;">Morceaux</font></th>
    </tr>
  </thead>
  <tbody>
  {% for leAlbum in leArtiste.albums %}
        <tr class="table-active">
            <td><img class= "miniature"src="{{leAlbum.image}}" alt=""></td>
            <td scope="row">{{leAlbum.nom}}</td>
            <td>{{leAlbum.date}}</td>
            <td></td>
            <td>{{leAlbum.morceau|length}}</td>
        </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}